@-webkit-keyframes ghost {
  to {
    opacity: 0;
  }
}
@keyframes ghost {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes wobble-horizontal {
  20% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  40% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  60% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes wobble-horizontal {
  20% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  40% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  60% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  80% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@-webkit-keyframes rotate-360 {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-360 {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-360-reverse {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-360-reverse {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes slow-flicker {
  from {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
@keyframes slow-flicker {
  from {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

@-webkit-keyframes start-over {
  from {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  } 
}
@keyframes start-over {
  from {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  } 
}

@font-face {
  font-family: 'Gosha Sans Regular';
  src: url(../assets/fonts/GoshaSansRegular.woff2);
}

@font-face {
  font-family: 'pixeBoy';
  src: url(../assets/fonts/pixeBoy.woff2)
}

::selection {
  color: coral;
  background-color: var(--color-rebecca-purple);
}

:root {
  /* ? gridSize */
  --grid-fraction: repeat(16, 1fr);
  --pixel-border-opacity: 1;

  /* ? easter egg */
  --easter-egg-opacity: 0;
  --easter-egg-scale: 0;
  --easter-egg-visibility: hidden;

  /* ? theme customizations */
  --color-background: var(--color-purple-rain);
  --color-canvas: var(--color-hot-pink);
  --color-canvas-background: var(--color-purple-rain);
  --color-card-background: var(--color-aqua);
  --color-card-shadow: var(--color-rebecca-purple);
  --color-header: var(--color-cream);
  --color-pixel: var(--color-cream);
  --color-select-background: var(--color-cream);
  --color-settings-border: silver;
  --color-text: var(--color-cream);
  --color-start-over-btn: #CFCFC4;
  --color-start-over-btn-2: #ababa1;
  --color-start-over-txt: black;
  --color-select-text: black;
  --color-toggle-shadow: var(--color-canvas);

  /* ? custom color/image options */
  --color-aqua: #00C9A8;
  --color-cool-blue: #6F87DE;
  --color-cream: #FFFFC9;
  --color-dark-purple: #210956;
  --color-hot-pink: #ff69b4;
  --color-purple-rain:#8F6BC3;
  --color-rebecca-purple: #663399;
  --color-zima-blue: #16B8F3;
  --image-space: center / cover no-repeat url('../assets/images/theme-zima-blue.jpg');

  /* assets/images/logo-cyclone.webp */
  /* ? Puck-Man */
	--color-blinky: #e91113;
	--color-clyde: #fe8b0d;
	--color-funky: #7fff00;
	--color-inky: #01f0ef; 
	--color-pacman: #ffea54;
	--color-pinky: #dc80b1;
	--color-sue: #9d199d;
}

/* * reset * */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.gradient-text {
  background: linear-gradient(to left, rgb(55, 55, 55), white, silver, rgb(255, 255, 255));
  background-clip: text;
  display: inline-block;
  margin-inline: auto;
  padding: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: 'Prompt', sans-serif;
  font-weight: 100;
  min-height: 100vh;
  justify-content: space-between;
  line-height: 1.5;
}

header {
  padding: 11px 55px;
}

header h1 {
  color: var(--color-header);
  font-weight: 100;
  position: relative;
  text-shadow: 0 0 11px;
  width: max-content;
}

header h1::before {
  background: var(--color-header);
  bottom: 0;
  box-shadow: 0 0 3px;
  content: '';
  height: 0.5px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transform-origin: left;
  -webkit-transition: transform 380ms ease-in-out;
  transition: transform 380ms ease-in-out;
  width: 100%;
} 

header h1:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
} 

#center-page {
  display: grid;
  gap: 33px;
  grid-template-areas: 'main' 'aside';
  margin-inline: auto;
  width: min(1200px, 100%);
}

aside {
  align-items: center;
  display: grid;
  flex-direction: column;
  grid-area: aside;
  justify-content: center;
}

aside #settings {
  background: var(--color-card-background);
  border-radius: 55px 11px 55px 11px;
  box-shadow: 0 0 18px var(--color-card-shadow);
  color: black;
  display: flex;
  flex-direction: column;
  padding: 21px 33px 21px 33px;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  width: 300px;
}

aside #settings #card-top {
  align-items: center;
  display: flex;
  justify-content: space-between;  
}

aside #settings #card-top button {
  color: var(--color-cream);
  background-color: transparent;
  filter: drop-shadow(0 0 2px);
  font-family: 'prompt';
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 3px var(--color-card-shadow);
}

aside #settings #card-top #grid-toggle {
  position: relative;
  -webkit-transition: all 380ms ease-in-out;
  transition: all 380ms ease-in-out;
}

aside #settings #card-top #grid-toggle.disabled {
  color: var(--color-canvas);
  transform: rotate(360deg);
}

aside #settings #card-top #grid-toggle::before {
  bottom: 0px;
  content: 'Toggle Grid';
  font-size: 1rem;
  position: absolute;
  right: -14px;
  text-shadow: 1px 1px 3px black;
  transform: scale(0);
  -webkit-transition: all 380ms ease-in-out, opacity 3s ease-in;
  transition: all 380ms ease-in-out, opacity 3s ease-in;
}

aside #settings #card-top #grid-toggle:hover::before {
  content: 'Toggle Grid';
  font-size: 1rem;
  position: absolute;
  transform: scale(1) translate(-45px, -36px) rotate(-45deg);
}

aside #settings #card-top #help-button {
  position: relative;
  -webkit-transition: all 380ms ease-in-out;
  transition: all 380ms ease-in-out;
}

aside #settings #card-top #help-button.help-button-feedback {
  color: var(--color-canvas);
  transform: rotate(360deg);
}

aside #settings #card-top #help-button::before {
  bottom: 0px;
  content: 'Help';
  font-size: 1rem;
  position: absolute;
  right: -14px;
  text-shadow: 1px 1px 3px black;
  transform: scale(0);
  transition: all 380ms ease-in-out, opacity 3s ease-in;
} 

aside #settings #card-top #help-button:hover::before {
  content: 'Help';
  font-size: 1rem;
  position: absolute;
  transform: scale(1) translate(49px, -51px) rotate(45deg);
}

aside #settings h2 {
  align-self: center;
  color: var(--color-header);
  display: none;
}

aside #settings-mid {
  display: grid; 
  /* border: 1px solid green; */
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  
  margin-bottom: 18px;
}

aside #settings-mid .setting:nth-child(2),
aside #settings-mid .setting:nth-child(3) {
  align-self: end;
}

aside #settings #canvas-size-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 11px;
}

aside #settings #canvas-size-container label {
  margin-bottom: 5px;
}

aside #canvas-size-container #slider {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-canvas);
  border-radius: 50%;
  box-shadow: 0 0 11px var(--color-canvas);
  height: 5px;
  margin: 0 0 11px 0;
  width: 100%;
}

aside #canvas-size-container #slider::-webkit-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('../assets/images/logo-cyclone.webp') center / contain no-repeat;
  /* background: red; */
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0 0 1px var(--color-canvas));
  height: 25px;
  margin-bottom: 15px;
  position: relative;
  width: 25px;
  z-index: 1;
} 

aside #canvas-size-container #slider::-moz-range-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url('../assets/images/logo-cyclone.webp') center / contain no-repeat;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(0 0 1px var(--color-canvas));
  height: 25px;
  margin-bottom: 15px;
  position: relative;
  width: 25px;
  z-index: 1;
}

aside #canvas-size-container datalist {
  display: flex;
  width: 100%;
}

aside #canvas-size-container datalist option {
  color: var(--color-text);
  display: flex;
  font-family: 'pixeBoy', monospace;
  justify-content: center;
  line-height: 10px;
  margin-top: 8px;
  padding: 0;
  position: relative;
  text-shadow: 0 0 8px var(--color-cream);
  width: 20%;
  z-index: 0;
}

aside #canvas-size-container datalist option::before {
  background: var(--color-cream);
  border-radius: 8px;
  bottom: 28.8px;
  box-shadow: 0 0 3px var(--color-canvas);
  content: '';
  height: 8px;
  left: 50%; 
  margin-bottom: 8px;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1px;
  z-index: -1;
}

aside #canvas-size-container datalist option:first-child{
  -webkit-transform: translateX(-11.2px);
  transform: translateX(-11.2px);
}

aside #canvas-size-container datalist option:nth-child(2) {
  -webkit-transform: translateX(-7.9px);
  transform: translateX(-7.9px);
}

aside #canvas-size-container datalist option:nth-child(3) {
  -webkit-transform: translateX(-1.5px);
  transform: translateX(-1.5px);
}

aside #canvas-size-container datalist option:nth-child(4) {
  -webkit-transform: translateX(4.4px);
  transform: translateX(4.4px);
}

aside #canvas-size-container datalist option:last-child {
  -webkit-transform: translateX(10.5px);
  transform: translateX(10.5px);
}

aside #canvas-size-container #slider-output {
  color: var(--color-text);
  display: none;
}

aside label {
  color: var(--color-text);
  font-size: 1rem;
}

aside input[type="color"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 38px;
  width: 38px;
}

aside input[type="color"]::-webkit-color-swatch,
aside input[type="color"]::-webkit-color-swatch  {
  border: 3px ridge var(--color-settings-border);
  border-radius: 18px;
}

aside .setting:nth-child(2) .label-container::before {
  content: url('../assets/images/logo-cyclone.webp');
  display: inline-block;
  height: 100%;
  left: 1px;
  opacity: var(--easter-egg-opacity);
  position: absolute;
  pointer-events: none;
  top: 1px;
  visibility: var(--easter-egg-visibility);
  width: 100%;
  -webkit-transform: var(--easter-egg-scale);
  transform: var(--easter-egg-scale);
  -webkit-transition: all 380ms ease-in-out;
  transition: all 380ms ease-in-out;
}

aside #settings #theme-select {
  background: var(--color-select-background);
  border: 3px ridge var(--color-settings-border);
  border-radius: 11px;
  color: var(--color-select-text);
  font-family: 'prompt', sans-serif;
  padding: 2px 5px;
}

aside #settings #theme-select:focus {
  box-shadow: inset 0 0 11px var(--color-canvas);
  outline: none;
}

aside #settings .setting {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

aside #settings .setting .label-container {
  -webkit-animation: rotate-360 33s linear infinite;
  animation: rotate-360 33s linear infinite;
  display: inline-grid;
  height: 88px;
  left: -11.5px;
  place-items: center;
  position: absolute;
  top: -25.3px;
  -webkit-transition: all 380ms ease-in-out;
  transition: all 380ms ease-in-out;
  width: 88px;

  /* border: 1px solid red; */
}

aside #settings .setting .label-container:hover {
  -webkit-animation: rotate-360-reverse 1.34s linear infinite;
  animation: rotate-360-reverse 1.34s linear infinite;
}

aside #settings .setting .rounded-label span {
  -webkit-animation: slow-flicker 2.67s ease-in-out infinite;
  animation: slow-flicker 2.67s ease-in-out infinite;
  color: var(--color-text);
  display: grid;
  font-size: 1rem;
  font-weight: 200;
  height: 43px;
  justify-content: center;
  left: 50%;
  opacity: 0.5;
  position: absolute;
  text-shadow: 0 0 3px;
  top: 3.8%;
  transform-origin: bottom center;
  width: 30px;

  /* border: 1px solid chartreuse; */
}

aside #settings .setting .rounded-label .char-1 {
  font-size: 0.625rem;
  font-weight: 400;
  opacity: 1;
  text-shadow: 0 0 8px;
}

aside #settings .setting .rounded-label .char-2 {
  animation: none;
  color: var(--color-canvas);
  opacity: 1;
} 

aside #settings .setting .rounded-label .char-1 { -webkit-transform: translate(-50%, -1%) rotate(0); transform: translate(-50%, -1%) rotate(0); }
aside #settings .setting .rounded-label .char-2 { -webkit-transform: translate(-50%, -8.5%) rotate(19deg); transform: translate(-50%, -8.5%) rotate(19deg); }
aside #settings .setting .rounded-label .char-3 { -webkit-transform: translate(-50%, -8.5%) rotate(38deg);; transform: translate(-50%, -8.5%) rotate(38deg); }
aside #settings .setting .rounded-label .char-4 { -webkit-transform: translate(-50%, -8.5%) rotate(57deg); transform: translate(-50%, -8.5%) rotate(57deg); }
aside #settings .setting .rounded-label .char-5 { -webkit-transform: translate(-50%, -8.5%) rotate(76deg); transform: translate(-50%, -8.5%) rotate(76deg); }
aside #settings .setting .rounded-label .char-6 { -webkit-transform: translate(-50%, -8.5%) rotate(95deg); transform: translate(-50%, -8.5%) rotate(95deg); }
aside #settings .setting .rounded-label .char-7 { -webkit-transform: translate(-50%, -8.5%) rotate(114deg); transform: translate(-50%, -8.5%) rotate(114deg); }

aside #toggles {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  -webkit-transition: all 380ms ease-in-out;
  transition: all 380ms ease-in-out;
  width: 100%;
}

aside button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  color: black;
  cursor: pointer;
  font-family: 'prompt', sans-serif;
  font-weight: 300;
  font-size: 0.8313rem;
  margin-inline: auto;
  position: relative;
  width: max-content;
}

aside #erasing-toggle {
  background: #ffb5b5;
  box-shadow: 0 3px var(--color-cream), inset 0 3px pink;
}

aside #erasing-toggle #eraser-text {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  pointer-events: none;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  vertical-align: middle;
}

aside #erasing-toggle.enabled #eraser-text {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: wobble-horizontal;
  animation-name: wobble-horizontal;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

aside #erasing-toggle,
aside #shading-toggle {
  border-radius: 50%;
  height: 60px;
  width: 60px; 
}

aside #shading-toggle {
  background: black;
  border-radius: 50%;
  box-shadow: 0 3px var(--color-cream), inset 0 3px #555555;
}

aside #shading-toggle.enabled,
aside #erasing-toggle.enabled {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

aside #shading-toggle::before,
aside #erasing-toggle::before {
  border-radius: 50%;
  box-shadow: 0 0 11px 8px var(--color-toggle-shadow);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: 380ms ease-in-out;
  transition: 380ms ease-in-out;
  width: 100%;
}

aside #shading-toggle.enabled::before,
aside #erasing-toggle.enabled::before {
  opacity: 1;
} 

aside #shading-toggle span {
  pointer-events: none;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 380ms ease-in-out;
  transition: all 380ms ease-in-out;
}

aside #shading-toggle.enabled span {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

aside #shading-toggle span::before {
  content: 'shade';
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  text-shadow: 0 0 5px white;
  top: 0;
  -webkit-transition: opacity 380ms ease-in-out;
  transition: opacity 380ms ease-in-out;
  width: 100%;
}

aside #shading-toggle.enabled span::before {
  opacity: 0;
}

aside #start-over-btn {
  background-color: var(--color-start-over-btn-2);
  border-radius: 33px;
  box-shadow: inset 0 15px 8px var(--color-canvas);
  padding: 5px 18px;
  position: relative;
}

aside #start-over-btn::before {
  background-color: var(--color-start-over-btn);
  border-bottom: 5px ridge var(--color-canvas);
  border-radius: 33px;
  box-shadow: inset 0 3px 8px white;
  color: var(--color-start-over-txt);
  content: 'Start Over';
  height: 100%;
  opacity: 1;
  padding: 5px 18px;
  position: absolute;
  width: 100%;
  -webkit-transition: opacity 0.250s ease-out;
  transition: opacity 0.250s ease-out;
  top: 0;
  left: 0;
}

aside #start-over-btn.clicked::before {
  opacity: 0;
}

aside #start-over-btn.clicked {
  -webkit-animation: start-over 0.5s ease-in;
  animation: start-over 0.5s ease-in;
}

main {
  display: grid;
  grid-area: main;
  place-items: center;
  position: relative;
}

main #canvas {
  background-color: var(--color-canvas-background);
  border: 5px solid var(--color-canvas);
  border-radius: 11px;
  box-shadow: 0 0 18px var(--color-canvas);
  display: grid;
  grid-template-columns: repeat(var(--grid-fraction), 1fr);
  height: 355px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  width: 355px;
}

main #help-modal {
  background-color: var(--color-card-background);
  border-radius: 11px 55px 11px 55px;
  box-shadow: 0 0 33px var(--color-card-shadow);
  color: white;
  left: 50%;
  opacity: 0;
  padding: 33px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 380ms ease-in-out;
  transition: all 380ms ease-in-out;
  visibility: hidden;
  width: 333px;
  z-index: 2;
}

main #help-modal.open {
  opacity: 1;
  visibility: visible;
}

main #help-modal p,
main #help-modal h5,
main #help-modal h6 {
  font-size: 1rem;
}

main #help-modal #close-button-container {
  display: grid;
  margin-bottom: 18px;
  width: 100%;
}

main #help-modal #close-button-container button {
  background-color: transparent;
  border: none; 
  color: var(--color-blinky);
  cursor: pointer;
  font-size: 1.125rem;
  justify-self: right;
  position: relative;
  text-shadow: 0 0 3px var(--color-blinky);
}

main #help-modal #close-button-container button::before {
  content: 'CLOSE';
  position: absolute;
  top: 0;
  left: 50%;
  opacity: 0;
  filter: drop-shadow(0 0 2px red);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity 380ms ease-in-out;
  transition: opacity 380ms ease-in-out;
}

main #help-modal #close-button-container button:hover::before {
  opacity: 1;
}

#warning-word {
  color: var(--color-pacman);
  text-shadow: 0 0 10px;
}

/* * injectedViaJS * */
main #canvas .pixel-border {
  position: relative;
}

main #canvas .pixel-border::before {
  border: 1px solid var(--color-canvas);
  content:'';
  height: 100%;
  left: 0;
  opacity: var(--pixel-border-opacity);
  position: absolute;
  pointer-events: none;
  top: 0;
  transition: opacity 380ms ease-in-out;
  width: 100%;
  z-index: 1;
}

main #canvas .pixel-border.remove-borders::before {
  opacity: 0;
}

main #canvas .pixel {
  background: var(--color-pixel);
  height: 100%;
  opacity: 0;
  position: relative;
  width: 100%;
  z-index: 0;
}

main #canvas .pixel.refresh {
  -webkit-animation: ghost 380ms ease-in-out forwards;
  animation: ghost 380ms ease-in-out forwards;
}

/* ! ⬇️ for :hover when click & hold is set up ⬇️*/
/* .pixel::before {
  background: url('../assets/images/logo-cyclone.webp') center / contain no-repeat;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
} */

/* * 
	*┌─────────────────────────────────────────────────────────────────────────┐
	*│ |FOOTER|                                                                │
	*└─────────────────────────────────────────────────────────────────────────┘
 * */

footer {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	font-family: 'pixeBoy', monospace;
	justify-content: flex-end;
	left: auto;
	position: sticky;
	right: auto;
	width: 100vw;
	z-index: 2;
}

footer:hover {
	color: var(--color-blinky);
}

#footer-center {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 3px;
	justify-content: center;
}

#footer-center:active  {
	margin-bottom: 25px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

#footer-center > p {
	color: var(--color-cream);
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

#footer-center > p:hover {
	color: var(--color-funky);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

footer p {
	margin: 0 0 2px 0;
}

#cyclone-container {
	align-items: center;
	display: flex;
	filter: drop-shadow(0 0px 3px #fffce8);
	flex-direction: column;
	gap: 1px;
	justify-content: center;
	opacity: 0.58;
	padding-bottom: 10px;
	-webkit-transition: all 0.8s ease-in;
	transition: all 0.8s ease-in;
}

#cyclone-container #cyclone-studios-logo {
  cursor: pointer;
}

#cyclone-container:hover {
	filter: drop-shadow(0 3px 10px #fffce8);
	margin-top: 50px;
	opacity: 1;
	-webkit-transform: translateY(-20px) scale(1.8) rotate(-1080deg);
	transform: translateY(-20px) scale(1.8) rotate(-1080deg);
}

#cyclone-container > p {
	color: var(--color-blinky);
	height: 0;
	opacity: 0;
	text-shadow: 0 0 3px black;
} 

#cyclone-container:hover > p {
	color: var(--color-funky);
	height: initial;
	opacity: 1;
}

#cyclone-container > p {
	font-size: 1.3rem;
	-webkit-transition: all 1.3s ease-in-out;
	transition: all 1.3s ease-in-out;
}

#cyclone-container > img {
	height: 22px;
}

#cyclone-container:hover > img {
	filter: drop-shadow(0 0px 5px #fffce8);
}

@media only screen and (min-width: 555px) {
  main #canvas {
    height: 500px;
    width: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    margin: 0;
  }

  #center-page {
    display: grid;
    gap: 0;
    grid-template-areas: 'aside main main';
  }

  aside {
    align-items: center;
    display: grid;
    flex-direction: column;
    grid-area: aside;
    justify-content: right;
  }

  aside #settings h2 {
    display: block;
  }

  aside #canvas-size-container #slider-output {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
    main #canvas {
      height: 700px;
      width: 700px;
    }
}